<div class="main users-index">
  <div class="container">
    <% if @users.count != 0 %>
      <% @users.each do |user| %>
        <div class="users-index-item">
          <div class="user-left">
            <img src="<%= "/user_images/#{user.image_name}" %>">
          </div>
          <div class="user-right">
            <%= link_to(user.name, "/users/#{user.id}") %>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="none-users-messa">
        <h1>ユーザーがいません</h1>
      </div>
    <% end %>
  </div>
</div>
